.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 0;  /* Safari and Chrome */
    display: none;
  }
  